@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold'),
       local('Gilroy-ExtraBold'),
       url('../font/gilroyextrabold.woff2') format('woff2'),
       url('../font/gilroyextrabold.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'),
       local('Gilroy-Light'),
       url('../font/gilroylight.woff2') format('woff2'),
       url('../font/gilroylight.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
       local('OpenSans'),
       url('../font/opensans.woff2') format('woff2'),
       url('../font/opensans.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'),
       local('OpenSans-Light'),
       url('../font/opensanslight.woff2') format('woff2'),
       url('../font/opensanslight.woff') format('woff');
  font-weight: 300;
}

body {
  width: 100%;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  background-color: #ffffff;
  color: #464646;
}

a {
  text-decoration: none;
}

p {
  letter-spacing: 0.1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
}

.button-yellow {
  position: relative;
  z-index: 2;
  display: inline-block;
  min-width: 160px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 3.6px;
  text-indent: 3.6px;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
}

.button-yellow::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  background-color: #f0c52e;
}

.button-yellow:hover {
  background-color: #f0c52e;
}

.button-yellow:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}

.company-info-about-more {
  margin-top: 54px;
  margin-left: 2px;
}

.company-info-write-us {
  margin-top: 61px;
  margin-left: 2px;
}

.company-info-about-more .button-yellow,
.company-info-write-us .button-yellow {
  min-width: 260px;
}

/** шапка - начало **/

.main-header {
  margin-top: 40px;
  margin-bottom: 40px;
}

.main-header-inner {
  position: relative;
  min-height: 150px;
  padding: 33px 60px 35px 60px;
  background-color: #f7e296;
}

.logo-name {
  display: block;
  width: 164px;
  height: 48px;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 0.5px;
  line-height: 48px;
  text-transform: uppercase;
}

.logo-name[href]:hover {
  opacity: 0.6;
}

.logo-name[href]:active {
  opacity: 0.3;
}

.logo-name-header {
  position: absolute;
  top: -24px;
  left: 58px;
}

.logo-name-black {
  color: #000000;
}

.logo-name-yellow {
  color: #ffc600;
}

.main-navigation-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* TODO */
.margin-bottom-1 {
  margin-bottom: 28px;
}

.search-form {
  display: flex;
  width: 440px;
  height: 48px;
}

.search-input {
  width: 355px;
  padding-left: 38px;
  padding-right: 20px;
  border-width: 2px 0;
  border-color: transparent;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 3px center;
  outline: none;
}

.search-input:focus {
  border-bottom: 2px solid #000000;
}

.search-input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.search-input:hover::placeholder {
  opacity: 0.6;
}

.search-submit {
  display: inline-block;
  visibility: hidden;
  height: 48px;
  padding: 0 18px;
  border: 2px solid #000000;
  box-sizing: border-box;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  tab-index: 0;
}

.search-input:focus + .search-submit,
.search-submit:focus,
.search-submit:active {
  visibility: visible;
}

.search-submit:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-submit:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation {
  display: flex;
  align-items: center;
  width: 500px;
  height: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation li {
  vertical-align: middle;
}

.user-navigation-item-logout {
  margin-left: 20px;
}

.user-navigation-item-compare {
  margin-left: auto;
}

.user-navigation-item-cart {
  margin-left: 40px;
}

.user-navigation-item a {
  display: inline-block;
  padding-left: 24px;
  vertical-align: inherit;
  background-repeat: no-repeat;
  color: #000000;
  letter-spacing: 0.2px;
}

.user-navigation-item-login a,
.user-navigation-item-user a {
  background-image: url("../img/user.svg");
  background-position: left center;
}

.user-navigation-item-logout a {
  padding-left: 0;
  opacity: 0.3;
}

.user-navigation-item-compare a {
  background-image: url("../img/compare.svg");
  background-position: 6px center;
}

.user-navigation-item-cart a {
  background-image: url("../img/cart.svg");
  background-position: 2px center;
}

.user-navigation-item a:hover {
  opacity: 0.6;
}

.user-navigation-item a:active {
  opacity: 0.3;
}

.user-navigation-item-logout-black a {
  color: #000000;
}

.user-navigation-item-logout-white a {
  color: #ffffff;

}

.site-navigation {
  display: flex;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li + li {
  margin-left: 33px;
}

.site-navigation li:last-child {
  margin-left: auto;
  margin-right: -4px;
}

.site-navigation-item a {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 4.3px;
  text-transform: uppercase;
  color: #000000;
}

.site-navigation-item a:hover {
  opacity: 0.6;
}

.site-navigation-item a:active {
  opacity: 0.3;
}

.site-navigation-item-catalog {
  width: 440px;
  height: 30px;
  vertical-align: top;
}

.site-navigation-item-catalog a {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 3.4px;
  color: #000000;
  vertical-align: inherit;
}

.site-navigation-item-catalog a::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 22px;
  margin-top: 4px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: right center;
  opacity: 0.3;
}

.site-navigation-item-catalog a:hover::after {
  opacity: 0.5;
}

.category-menu-wrapper {
  display: none;
  position: absolute;
  top: 139px;
  left: 0;
  width: 100%;
  padding: 18px 60px 35px 60px;
  box-sizing: border-box;
  background-color: #f7e296;
}

.category-menu {
  width: 622px;
  border-spacing: 0;
}

.site-navigation-item-catalog:hover + .category-menu-wrapper,
.category-menu-wrapper:hover {
  display: block;
}

.category-menu td {
  min-width: 160px;
  padding: 0 20px;
  border: 0;
}

.category-menu td:nth-child(1) {
  padding-left: 0;
}

.category-menu-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 36px;
  color: #000000;
}

.category-menu-link:hover {
  opacity: 0.6;
}

.category-menu-link:active {
  opacity: 0.3;
}

/** шапка - конец **/


/** основное соджержание - начало **/

.page-title {
  margin: 40px 60px 30px 60px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.breadcrumb {
  display: flex;
  list-style: none;
  margin: 0 60px 30px 60px;
  padding: 0;
}

.breadcrumb-item {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.breadcrumb-item a {
  color: inherit;
}

.breadcrumb-item a:hover {
  opacity: 0.6;
}

.breadcrumb-item a:active {
  opacity: 0.1;
}

.site-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 340px;
  padding: 30px 68px 30px 60px;
  margin-right: 52px;
  box-sizing: border-box;
  background: #eeeeee;
}

.site-columns::before {
  content: '';
  flex: 1;
  background: #eeeeee;
}

.site-columns::after {
  content: '';
  flex: 1;
  background: #ffffff;
}

.filter-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.filter-option-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-input-label {
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.filter-input-label:hover,
.filter-input-label:active {
  color: #000000;
}

.filter-input:disabled,
.filter-input:disabled + span {
  color: #a6a6a6;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 460px;
  padding: 20px;
}

.catalog-item h3 {
  order: 1;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-left: -1px;
}

.catalog-item-image {
  position: relative;
  margin: 0;
  width: 360px;
  height: 380px;
}

.catalog-item-image img {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-item-actions {
  position: absolute;
  display: none;
  width: 360px;
  height: 380px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog-item-image:hover .catalog-item-actions {
  display: block;
}

.catalog-item-badge-new {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 54px;
  height: 54px;
  color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 54px;
  text-transform: uppercase;
}

.catalog-item-add-cart {
  position: absolute;
  left: 50%;
  top: 171px;
  width: 200px;
  margin-left: -100px;
  text-indent: 0;
}

.catalog-item-add-compare {
  position: absolute;
  left: 50%;
  top: 224px;
  width: 160px;
  margin-left: -80px;
  text-align: center;
}

.catalog-item-name {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.catalog-item-price {
  width: 120px;
  text-align: right;
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.company-info-container {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 50px;
}

.company-info-about {
  width: 480px;
}

.company-info-contacts {
  width: 560px;
}

.company-info-title {
  position: relative;
  margin: 53px 0 42px 0;
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.company-info-title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  left: 2px;
  top: -53px;
  background-color: #000000;
}

.company-info-map {
  display: inline-block;
  width: 560px;
  height: 222px;
  margin-top: 10px;
  margin-left: 2px;
}

.delivery-company-list {
  list-style: circle;
  margin-top: 67px;
  padding-left: 22px;
}

.delivery-company-list li {
  padding-left: 15px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.catalog-item-add-compare {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  opacity: 0.5;
}

.catalog-item-add-compare:hover {
  opacity: 1;
}

.catalog-item-add-compare:active {
  opacity: 0.2;
}

/** основное содержание - конец **/


/** подвал - начало **/

.main-footer {
  background-color: #464646;
}

.main-footer .page-container {
  position: relative;
  height: 323px;
}

.main-footer .logo-name {
  position: absolute;
  left: 0;
  top: 60px;
  width: 164px;
  height: 48px;
}

.main-footer .user-navigation {
  position: absolute;
  right: -3px;
  top: 60px;
}

.main-footer .address {
  position: absolute;
  left: 2px;
  top: 130px;
}

.main-footer .line {
  position: absolute;
  left: 3px;
  top: 237px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.main-footer .phone {
  position: absolute;
  right: -3px;
  top: 130px;
  height: 30px;
}

.main-footer .site-developer {
  position: absolute;
  right: -3px;
  top: 222px;
  height: 35px;
}

.site-navigation-footer {
  position: absolute;
  top: 133px;
  left: 50%;
  transform: translateX(-50%);
  width: 421px;
  justify-content: space-between;
}

.site-navigation-footer li {
  margin: 0;
}

.site-navigation-footer a {
  color: #ffffff;
  text-indent: 4.3px;
}

.address {
  font-style: normal;
  color: #ffffff;
}

.phone {
  color: #ffffff;
}

.main-footer .user-navigation {
  height: 33px;
}

/* TODO */
.main-footer .user-navigation-item a {
  color: #ffffff;
  opacity: 0.7;
}

.main-footer .user-navigation-link:hover {
  opacity: 1;
}

.main-footer .user-navigation-link:active {
  opacity: 0.3;
}

.footer-social {
  position: absolute;
  top: 224px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 142px;
  margin: 0;
  padding: 0 0 0 5px;
  list-style: none;
}

.footer-social-item a {
  display: inline-block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  color: #ffffff;
  background-repeat: no-repeat;
}

.footer-social-item a:hover {
  opacity: 0.6;
}

.footer-social-item a:active {
  opacity: 0.1;
}

.footer-social-item-facebook a {
  background-image: url("../img/fb.svg");
}

.footer-social-item-instagram a {
  background-image: url("../img/instagram.svg");
}

.footer-social-item-twitter a {
  background-image: url("../img/twitter.svg");
}

.site-developer a:hover {
  opacity: 0.6;
}

.site-developer a:active {
  opacity: 0.3;
}

/** подвал - конец **/



