@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold'),
       local('Gilroy-ExtraBold'),
       url('../font/gilroyextrabold.woff2') format('woff2'),
       url('../font/gilroyextrabold.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'),
       local('Gilroy-Light'),
       url('../font/gilroylight.woff2') format('woff2'),
       url('../font/gilroylight.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
       local('OpenSans'),
       url('../font/opensans.woff2') format('woff2'),
       url('../font/opensans.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'),
       local('OpenSans-Light'),
       url('../font/opensanslight.woff2') format('woff2'),
       url('../font/opensanslight.woff') format('woff');
  font-weight: 300;
}

/* общие стили */

body {
  width: 100%;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  background-color: #ffffff;
  color: #464646;
}

a {
  text-decoration: none;
}

p {
  letter-spacing: 0.1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

/* переиспользуемые стили */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container-center {
  width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
}

.site-logo {
  display: block;
  width: 164px;
  height: 48px;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 0.5px;
  line-height: 48px;
  text-transform: uppercase;
}

.site-logo[href]:hover {
  opacity: 0.6;
}

.site-logo[href]:active {
  opacity: 0.3;
}

.site-logo-black {
  color: #000000;
}

.site-logo-yellow {
  color: #ffc600;
}

.user-navigation {
  display: flex;
  align-items: center;
  width: 500px;
  height: 48px;
}

.user-navigation li {
  vertical-align: middle;
}

.user-navigation-item + .user-navigation-item {
  margin-left: 40px;
}

.page-header .user-navigation-item-compare {
  margin-left: auto;
}

.user-navigation-link {
  display: inline-block;
  vertical-align: inherit;
  background-repeat: no-repeat;
  color: #000000;
  font-size: 0;
}

.user-navigation-link span {
  font-size: 15px;
  letter-spacing: 0.2px;
  vertical-align: middle;
}

.user-navigation-ico {
  fill: #272525;
  margin-right: 13px;
  vertical-align: middle;
}

.user-navigation-item-compare .user-navigation-ico {
  margin-right: 11px;
}

.user-navigation-item-cart .user-navigation-ico {
  margin-right: 10px;
}

.page-footer .user-navigation-ico {
  fill: #ffc600;
}



.user-navigation-link:hover {
  opacity: 0.6;
}

.user-navigation-link:active {
  opacity: 0.3;
}

.user-navigation-item-logout {
  margin-left: 20px;
}

.user-navigation-item-logout a {
  padding-left: 0;
  opacity: 0.3;
}

.user-navigation-item-logout-black a {
  color: #000000;
}

.user-navigation-item-logout-white a {
  color: #ffffff;
}

.site-navigation {
  display: flex;
  width: 500px;
}

.site-navigation li + li {
  margin-left: 33px;
}

.site-navigation li:last-child {
  margin-left: auto;
  margin-right: -4px;
}

.large-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 1px;
  color: #000000;
  margin: 0;
}

.reset-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.menu-link {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 4.3px;
  text-transform: uppercase;
}

.menu-link:hover {
  opacity: 0.6;
}

.menu-link:active {
  opacity: 0.3;
}

.menu-link-black {
  color: #000000;
}

.menu-link-white {
  color: #ffffff;
}

.button-yellow {
  position: relative;
  z-index: 2;
  display: inline-block;
  min-width: 160px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 3.6px;
  text-indent: 3.6px;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
}

.button-yellow::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  background-color: #f0c52e;
}

.button-yellow:hover {
  background-color: #f0c52e;
}

.button-yellow:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}

/* шапка */

.page-header {
  margin-top: 40px;
}

.page-header-inner {
  position: relative;
  min-height: 186px;
  padding: 33px 60px 0 60px;
  background-color: #f7e296;
}

.page-header-logo {
  position: absolute;
  top: -24px;
  left: 57px;
}

.page-header-navigation-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-header-navigation-row-bottom-indent {
  margin-bottom: 28px;
}

.site-search-form {
  display: flex;
  width: 440px;
  height: 48px;
}

.site-search-input {
  width: 355px;
  padding-left: 38px;
  padding-right: 20px;
  border-width: 2px 0;
  border-color: transparent;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 3px center;
  outline: none;
}

.site-search-input:focus {
  border-bottom: 2px solid #000000;
}

.site-search-input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.site-search-input:hover::placeholder {
  opacity: 0.6;
}

.site-search-submit {
  display: inline-block;
  visibility: hidden;
  height: 48px;
  padding: 0 18px;
  border: 2px solid #000000;
  box-sizing: border-box;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  tab-index: 0;
}

.site-search-input:focus + .site-search-submit,
.site-search-submit:focus,
.site-search-submit:active {
  visibility: visible;
}

.site-search-submit:hover {
  background-color: #000000;
  color: #ffffff;
}

.site-search-submit:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.menu-catalog {
  height: 30px;
}

.menu-catalog-title {
  display: inline-block;
  width: 440px;
  line-height: 30px;
}

.menu-catalog-title::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  margin-left: 10px;
  vertical-align: top;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: right center;
  opacity: 0.3;
}

.menu-catalog-title:hover::after {
  opacity: 0.5;
}

.menu-catalog-content {
  display: none;
  position: absolute;
  z-index: 1;
  top: 139px;
  left: 0;
  width: 100%;
  padding: 18px 60px 35px 60px;
  box-sizing: border-box;
  background-color: #f7e296;
}

.menu-catalog-categories {
  width: 622px;
  border-spacing: 0;
}

.menu-catalog-categories td {
  min-width: 160px;
  padding: 0 20px;
  border: 0;
}

.menu-catalog-categories td:nth-child(1) {
  padding-left: 0;
}

.menu-catalog-category-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 36px;
  color: #000000;
}

.menu-catalog-category-link:hover {
  opacity: 0.6;
}

.menu-catalog-category-link:active {
  opacity: 0.3;
}

.menu-catalog-title:hover + .menu-catalog-content,
.menu-catalog-content:hover {
  display: block;
}

/* основное содержание */

.page-title {
  padding: 38px 60px 23px 59px;
}

/* index - слайдер */

.main-slider-container-top {
  position: relative;
  z-index: -1;
  height: 114px;
  background-color: #f7e296;
  overflow: hidden;
}

.main-slider-container-top .line {
  position: absolute;
  right: 460px;
  top: 40px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.main-slider-container-top .num {
  position: absolute;
  bottom: 20px;
  right: 48px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 179px;
  color: #ffffff;
}

.main-slider {
  display: flex;
  justify-content: space-between;
  min-height: 434px;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: -114px;
  margin-bottom: 100px;
}

.main-slider-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 440px;
  text-align: center;
}

.main-slider-info {
  width: 480px;
  padding-left: 40px;
  padding-right: 20px;
}

.main-slider-title {
  margin-top: 82px;
  margin-bottom: 18px;
  line-height: 56px;
}

.main-slider-desc {
  margin-top: 0;
  margin-bottom: 43px;
}

.main-slider-controls {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  margin-bottom: 50px;
}

.main-slider-controls-product-link {
  min-width: 220px;
}

.main-slider-controls-switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 79px;
  height: 40px;
  margin-right: 2px;
}

.main-slider-controls-switcher li {
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.main-slider-controls-switcher .selected {
  position: relative;
}

.main-slider-controls-switcher .selected::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 2px;
}

.main-slider-specs {
  display: flex;
  align-items: center;
  width: 428px;
}

.main-slider-specs li {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  min-height: 75px;
}

.main-slider-specs li + li {
  margin-left: 60px;
}

.main-slider-specs .property {
  font-size: 13px;
  line-height: 20px;
}

.main-slider-specs .value {
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

/* index - популярные категории */

.main-category-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}

.main-category-link {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 160px;
  color: inherit;
}

.main-category-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.main-category-image {
  position: relative;
  height: 160px;
  margin-bottom: 33px;
  background-color: rgba(240, 197, 46, 0.5);
}

.main-category-image:hover,
.main-category-image:active {
  background-color: rgba(240, 197, 46, 1);
}

.main-category-image:active svg {
  opacity: 0.3;
}

.main-category-image svg {
  position: absolute;
}

.main-category-image-vr {
  left: 31px;
  top: 52px;
}

.main-category-image-monopod {
  left: 38px;
  top: 41px;
}

.main-category-image-action-camera {
  left: 49px;
  top: 38px;
}

.main-category-image-fitness-bracelet {
  left: 28px;
  top: 50px;
}

.main-category-image-smart-watch {
  left: 55px;
  top: 32px;
}

.main-category-image-quadcopter {
  left: 13px;
  top: 49px;
}

/* index - доставка */

.main-delivery {
  position: relative;
  min-height: 290px;
  background-color: #e5e5e5;
  margin-bottom: 93px;
}

.main-delivery-inner {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  padding-right: 320px;
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-position: top 85px right 66px;
}

.main-delivery-menu {
  width: 277px;
  padding-top: 80px;
  padding-bottom: 70px;
  border-right: 7px solid #000000;
}

.main-delivery-menu li + li {
  margin-top: 25px;
}

.main-delivery-menu-button {
  padding-left: 16px;
  padding-right: 16px;
}

.main-delivery-menu-button-selected,
.main-delivery-menu-button-selected:hover {
  width: 100%;
  padding-right: 130px;
  background-color: #000000;
  color: #ffffff;
  cursor: initial;
}

.main-delivery-menu-button-selected::before {
  display: none;
}

.main-delivery-desc {
  width: 440px;
}

.main-delivery-title {
  margin-top: 73px;
}

/* index - бренды */

.main-brands {
  display: flex;
  justify-content: space-between;
  margin-bottom: 83px;
}

.main-brand-logo {
  display: block;
  width: 260px;
  height: 100px;
  background-repeat: no-repeat;
}

.main-brand-logo-dji {
  background-image: url("../img/brand-logo-1.png");
}

.main-brand-logo-dji:hover {
  background-image: url("../img/brand-logo-1-color.png");
}

.main-brand-logo-sp-gadjets {
  background-image: url("../img/brand-logo-2.png");
}

.main-brand-logo-sp-gadjets:hover {
  background-image: url("../img/brand-logo-2-color.png");
}

.main-brand-logo-gopro {
  background-image: url("../img/brand-logo-3.png");
}

.main-brand-logo-gopro:hover {
  background-image: url("../img/brand-logo-3-color.png");
}

.main-brand-logo-vive {
  background-image: url("../img/brand-logo-4.png");
}

.main-brand-logo-vive:hover {
  background-image: url("../img/brand-logo-4-color.png");
}

/* index - О нас, Контакты */

.main-company-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.main-company-title {
  position: relative;
  margin: 53px 0 42px -3px;
}

.main-company-title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  left: 3px;
  top: -53px;
  background-color: #000000;
}

.main-company-about {
  width: 480px;
}

.main-company-delivery-list {
  list-style: circle;
  margin-top: 67px;
  padding-left: 22px;
}

.main-company-delivery-list li {
  padding-left: 15px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.main-company-about-more {
  margin-top: 54px;
  margin-left: 2px;
}

.main-company-contacts {
  width: 560px;
}

.main-company-map {
  display: inline-block;
  width: 560px;
  height: 222px;
  margin-top: 10px;
  margin-left: 2px;
}

.main-company-write-us {
  margin-top: 61px;
  margin-left: 2px;
}

.main-company-about-more .button-yellow,
.main-company-write-us .button-yellow {
  min-width: 260px;
}

/* хлебные крошки */

.breadcrumb {
  display: flex;
  margin: 0 60px 46px 60px;
}

.breadcrumb-item {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 40px;
  background: url("../img/nav-arrow.svg") 16px center no-repeat;
}

.breadcrumb-item a {
  color: inherit;
}

.breadcrumb-item a:hover {
  opacity: 0.6;
}

.breadcrumb-item a:active {
  opacity: 0.1;
}

/* catalog -  основное содержание */

.main-column-header,
.main-column-body {
  display: flex;
}

.main-column-header .page-container-center,
.main-column-body .page-container-center {
  display: flex;
}

.main-column-header::before,
.main-column-body::before {
  content: "";
  flex: 1;
  background-color: #dbdbdb;
}

.main-column-body::before {
  background-color: #eeeeee;
}

.main-column-header::after,
.main-column-body::after {
  content: "";
  flex: 1;
  background-color: #ebebeb;
}

.main-column-body::after {
  background-color: #ffffff;
}

.main-column-header-filter,
.main-column-body-filter {
  width: 328px;
  padding: 20px 68px 20px 59px;
  box-sizing: border-box;
  background-color: #dbdbdb;
}

.main-column-header-sort,
.main-column-body-products {
  width: 832px;
  padding: 20px 20px 20px 73px;
  box-sizing: border-box;
  background-color: #ebebeb;
}

.main-column-header-sort {
  display: flex;
  padding-right: 0;
}

.main-column-header-title {
  width: 180px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.catalog-sort-type {
  display: flex;
  flex-grow: 1;
}

.catalog-sort-type li + li {
  margin-left: 25px;
}

.catalog-sort-type a {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-sort-type .active {
  color: #000000;
}

.catalog-sort-direction {
  display: flex;
  width: 43px;
  margin-right: -1px;
}

.catalog-sort-direction li {
  flex-grow: 1;
}

.catalog-sort-direction .active {
  color: #000000;
}

.catalog-sort-direction-increase {
  text-align: left;
}

.catalog-sort-direction-decrease {
  text-align: right;
}

.catalog-sort-direction a::before {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-sort-direction .active::before {
  color: #000000;
}

.catalog-sort-direction-increase a::before {
  content: "▲";
}

.catalog-sort-direction-decrease a::before {
  content: "▼";
}

.main-column-body-filter {
  padding-top: 67px;
  background-color: #eeeeee;
}

.filter-title {
  position: relative;
  margin-top: 13px;
  margin-bottom: 26px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.filter-title::before {
  content: "";
  position: absolute;
  top: -13px;
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.filter-range {
  position: relative;
  height: 45px;
  margin-bottom: 45px;
}

.filter-range-bar {
  position: absolute;
  top: 9px;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #dbdbdb;
}

.filter-range-bar-selected {
  position: absolute;
  top: 0;
  left: 0;
  right: 82px;
  height: 2px;
  background-color: #91c92f;
}

.filter-range-toggle {
  position: absolute;
  top: -1px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.filter-range-toggle span {
  position: absolute;
  top: 14px;
  left: -37px;
  width: 80px;
  text-align: center;
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.filter-range-toggle-min span {
  left: -3px;
  text-align: left;
}

.filter-range-toggle-min {
  left: -5px;
}

.filter-range-toggle-max {
  left: 108px;
}

.filter-option-list-checkboxgroup .filter-option {
  height: 23px;
}

.filter-option-list-checkboxgroup .filter-option + .filter-option {
  margin-top: 17px;
}

.filter-option-list-checkboxgroup {
  margin-bottom: 53px;
}

.filter-input-label {
  font-size: 14px;
  line-height: 23px;
  color: #000000;
  vertical-align: top;
  cursor: pointer;
}

.filter-input-label:hover,
.filter-input-label:active {
  color: #000000;
}

.filter-input-checkbox + .filter-input-label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 12px;
  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.filter-input-checkbox:checked + .filter-input-label::before {
  background-image: url('../img/checkbox-off.svg');
}

.filter-input-checkbox:focus + .filter-input-label::before {
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-input-checkbox:disabled + .filter-input-label {
  cursor: initial;
}

.filter-input-checkbox:disabled + .filter-input-label::before {
  opacity: 0.3;
  cursor: initial;
}

.filter-input-radio + .filter-input-label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 14px;
  background-image: url('../img/radio-on.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.filter-options-bluetooth .filter-title {
  margin-bottom: 23px;
}

.filter-option-list-radiogroup .filter-option {
  height: 25px;
}

.filter-option-list-radiogroup .filter-option + .filter-option {
  margin-top: 16px;
}

.filter-input-radio:checked + .filter-input-label::before {
  background-image: url('../img/radio-off.svg');
}

.filter-input-radio:focus + .filter-input-label::before {
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-input:disabled,
.filter-input:disabled + span {
  color: #a6a6a6;
}

.filter-options-bluetooth {
  margin-bottom: 39px;
}

.filter-options-submit {
  width: 100%;
}

.main-column-body-products {
  padding: 50px 0 78px 52px;
  background-color: #ffffff;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-bottom: 13px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 460px;
  padding: 20px 20px 23px 20px;
}

.catalog-item h3 {
  order: 1;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-left: -1px;
}

.catalog-item-image {
  position: relative;
  margin: 0;
  width: 360px;
  height: 380px;
}

.catalog-item-image img {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-item-actions {
  position: absolute;
  display: none;
  width: 360px;
  height: 380px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog-item-image:hover .catalog-item-actions {
  display: block;
}

.catalog-item-badge-new {
  position: absolute;
  right: 26px;
  top: 30px;
  width: 56px;
  height: 56px;
  color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  text-align: center;
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 15px;
  line-height: 56px;
  text-transform: uppercase;
}

.catalog-item-add-cart {
  position: absolute;
  left: 50%;
  top: 171px;
  width: 200px;
  margin-left: -100px;
  text-indent: 0;
}

.catalog-item-add-compare {
  position: absolute;
  left: 50%;
  top: 224px;
  width: 160px;
  margin-left: -80px;
  text-align: center;
}

.catalog-item-name {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.catalog-item-price {
  width: 120px;
  text-align: right;
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
  word-spacing: 1.2px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  margin-left: 20px;
  background-color: #ebebeb;
}

.pagination-prev,
.pagination-next {
  width: 160px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.pagination-prev {
  text-align: left;
}

.pagination-next {
  text-align: right;
}

.pagination a {
  display: inline-block;
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.pagination-prev a,
.pagination-next a {
  line-height: 70px;
}

.pagination-pages {
  display: flex;
}

.pagination-pages li {
  margin: 5px;
}

.pagination-pages-item a {
  padding: 10px;
}

.pagination-pages-item a[href] {
  color: #a4a4a4;
}

.catalog-item-add-compare {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  opacity: 0.5;
}

.catalog-item-add-compare:hover {
  opacity: 1;
}

.catalog-item-add-compare:active {
  opacity: 0.2;
}

/* подвал */

.page-footer {
  background-color: #464646;
}

.page-footer .page-container-center {
  position: relative;
  height: 323px;
}

.page-footer .site-logo {
  position: absolute;
  left: -3px;
  top: 60px;
  width: 164px;
  height: 48px;
}

.page-footer .user-navigation {
  position: absolute;
  right: -3px;
  top: 60px;
  height: 33px;
  width: auto;
}

.page-footer .user-navigation-item a {
  color: #ffffff;
  opacity: 0.7;
}

.page-footer .user-navigation-link:hover {
  opacity: 1;
}

.page-footer .user-navigation-link:active {
  opacity: 0.3;
}

.page-footer-address {
  position: absolute;
  left: 2px;
  top: 130px;
  font-style: normal;
  color: #ffffff;
}

.page-footer-site-navigation {
  position: absolute;
  top: 133px;
  left: 50%;
  transform: translateX(-50%);
  width: 421px;
  justify-content: space-between;
}

.page-footer-site-navigation li {
  margin: 0;
}

.page-footer-site-navigation a {
  color: #ffffff;
  text-indent: 4.3px;
}

.page-footer-phone {
  position: absolute;
  right: -3px;
  top: 130px;
  height: 30px;
  color: #ffffff;
}

.page-footer-line {
  position: absolute;
  left: 3px;
  top: 237px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.page-footer-socials {
  position: absolute;
  top: 224px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 142px;
  padding-right: 5px;
}

.page-footer-social-item a {
  display: inline-block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  color: #ffffff;
  background-repeat: no-repeat;
}

.page-footer-social-item a:hover {
  opacity: 0.6;
}

.page-footer-social-item a:active {
  opacity: 0.1;
}

.footer-social-item-facebook a {
  background-image: url("../img/fb.svg");
}

.footer-social-item-instagram a {
  background-image: url("../img/instagram.svg");
}

.footer-social-item-twitter a {
  background-image: url("../img/twitter.svg");
}

.page-footer-developer {
  position: absolute;
  right: -3px;
  top: 222px;
  height: 35px;
}

.page-footer-developer a:hover {
  opacity: 0.6;
}

.page-footer-developer a:active {
  opacity: 0.3;
}

/* модальные окна */

.overlay {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.35);
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  background: url("../img/modal-close.svg") no-repeat;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal-send-message {
  display: none;
  width: 960px;
  padding: 92px 100px 80px 100px;
  box-sizing: border-box;
  background-color: #ffffff;

  min-height: 553px;
}

.form-row + .form-row {
  margin-top: 33px;
}

.form-row:last-of-type {
  margin-top: 40px;
}

.modal-send-message .form-row-inline {
  display: flex;
  justify-content: space-between;
}

.modal-send-message input[type=text],
.modal-send-message input[type=email],
.modal-send-message textarea {
  display: block;
  padding-left: 19px;
  padding-right: 19px;
  box-sizing: border-box;
  border: none;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 18px;
}

.modal-send-message input[type=text],
.modal-send-message input[type=email] {
  width: 360px;
  height: 50px;
}

.form-field label {
  display: block;
  margin-bottom: 8px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.form-field-textarea textarea {
  width: 100%;
  height: 156px;
  padding: 15px 19px;
  resize: none;
}

.form-submit {
  width: 200px;
}

.modal-map {
  width: 960px;
}
